server:
  port: 8081
  servlet:
    session:
      timeout: 30m
      tracking-modes: cookie
      cookie:
        name: JSESSIONID
        http-only: true
        secure: false
        max-age: 1800

spring:

  web:
    security:
      firewall:
        allow-url-encoded-slash: true
        allow-url-encoded-double-slash: true
        allow-semicolon: true
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${GITHUB_CLIENT_ID:Ov23liZ5pM0gKPV1Duuv}
            client-secret: ${GITHUB_CLIENT_SECRET:28e5d473e99b4eb9cefd373c0279ac41b47dbefd}
            scope:
              - user:email
              - read:user
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  datasource:
    url: jdbc:postgresql://dpg-d5n98stactks73cbtbn0-a.oregon-postgres.render.com:5432/drivingcourses_fdzf
    username: user
    password: 6Yh2xzBevBQtdOdM7SA8lWlDMffovtXV
    driverClassName: org.postgresql.Driver

logging:
  level:
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    ua.opnu.practice1_template: DEBUG